/* 自己写的都在这*/

* {
	margin: 0px;
	padding: 0px;
	font-family: -apple-system,
		BlinkMacSystemFont,
		Helvetica Neue,
		Helvetica,
		MiSans,
		HarmonySans,
		NotoSans,
		Arial,
		PingFang SC,
		Hiragino Sans GB,
		Microsoft YaHei,
		sans-serif;
	overflow-x: hidden;
	transition: 0.3s;
}

/* 自定义滚动条样式 */
.inlinecode>div::-webkit-scrollbar {
	height: 12px;

	/* 滚动条的高度 */
}

.inlinecode>div::-webkit-scrollbar-track {
	background: #333;
	/* 滚动条背景 */
	border-radius: 10px;

	/* 圆角 */
}

.inlinecode>div::-webkit-scrollbar-thumb {
	background: #888;
	/* 滚动条滑块的颜色 */
	border-radius: 10px;
	transition: 0.3s;

	/* 滑块圆角 */
}

.inlinecode>div::-webkit-scrollbar-thumb:hover {
	background: #555;
	/* 滑块悬停时的颜色 */
	transition: 0.3s;

}


body {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	flex-direction: column;
	flex-wrap: wrap;
}

h1 {
	margin-top: 30px;
	font-size: 2rem;
}

h2 {
	margin-top: 20px;
	font-size: 1.5rem;
}

h3 {
	margin-top: 10px;
	font-size: 1.25rem;
}

p {
	margin-top: 10px;
	font-size: 1rem;
	text-indent: 2rem;
}

li {
	font-size: 1rem;
}

.navbar {
	height: 50px;
	line-height: 50px;
	width: 100%;
	color: #fff;
	background-color: #111;
	border-bottom: #333 1px solid;
	padding: 0px 2px;
}

.navtext {
	text-decoration: none;
}

.navtext:hover {
	background-color: #666 !important;
}

.navleft {
	position: absolute;
	left: 12px;
	top: 5px;
}

.navright {
	position: absolute;
	right: 12px;
	top: 10px;
	height: 32px;
	line-height: 30px;
	padding: 0px;
}

/*logo*/
.title-logo {
	color: #00aaff;
	font-size: 18px;
	margin-left: 2rem;
	text-decoration: none;
	font-family: "ubt";
	font-weight: bold;
	transition-duration: 0.5s;
}

.title-logo:hover {
	text-decoration: none;
	color: #0aaaa0;
	font-size: 20px;
}


/*Header下划线*/
.head-frame {
	border-bottom: 1px solid #c1c1c1;
}


/* 首页与其他页面右上角的按钮样式 */
.headmenu-btn {

	background: linear-gradient(45deg, #1E88E5, #8965d6, #d36264, #76c55d, #1E88E5);
	background-size: 400%;
	color: #fff;
	padding: 0.5rem 2rem 0.5rem 2rem;
	text-align: center;
	font-size: 14px;
	border: 0;
	border-radius: 26px;
	transition-duration: 0.4s;
	z-index: 1;
	text-decoration: none;

}



.headmenu-btn:hover,
.headmenu-btn:focus {
	animation: sun 8s infinite;
	outline: 0;
	background: linear-gradient(45deg, #1E88E5, #8965d6, #d36264, #76c55d, #1E88E5);
	background-size: 400%;
	color: #fff;
	box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.24);
	text-decoration: none;
}

@keyframes sun {
	100% {

		background-position: -400% 0;

	}
}



/*清除ul前黑点*/
ul {
	list-style: none;
}

li {
	list-style: none;
}

/*卡片式链接*/
.href-card {
	background: linear-gradient(90deg, #1E88E5, #8965d6, #d3835b, #e36897, #1E88E5);
	background-size: 400%;
	padding: 5px 10px 5px 10px;
	margin: 10px;
	border-radius: 15px;
	border: 1px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	word-wrap: break-word;
	transition-duration: 0.3s;
	text-decoration: none;
	color: #e8e8e8;

}

.href-card:hover {
	animation: sun 8s infinite;
	background: linear-gradient(90deg, #1E88E5, #8965d6, #d3835b, #e36897, #1E88E5);
	background-size: 400%;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.7);

}

.text-card {
	background-color: #eee;
	background-size: 400%;
	padding: 5px 10px;
	max-width: 640px;
	border-radius: 15px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	transition-duration: 0.3s;
	text-decoration: none;
	font-size: 1rem;
	color: #222;
}


.inlinecode {
	max-width: 420px;
	margin: 10px auto;
	padding: 10px;
	height: 64px;
	/* 右侧留出空间给按钮 */
	border-radius: 15px;
	color: #eee;
	background-color: #282828;
	box-sizing: border-box;
	overflow-x: hidden;
	white-space: nowrap;
	position: relative;
	/* 使按钮相对定位基于此容器 */

}

.inlinecode>div {
	overflow-x: auto;
	white-space: nowrap;
	padding-bottom: 12px;
	transform: translateY(0);
}

.copy-button {
	position: relative;
	float: right;
	margin-left: 10px;
	transform: translateY(6px);
	height: 32px;
	line-height: 32px;
	text-align: center;
	width: 52px;
	border: none;
	border-radius: 1115px;
	background-color: rgb(56, 56, 56);
	color: white;
	cursor: pointer;
	font-size: 14px;
}

.copy-button:hover {
	background-color: #979797;
}

/*兼容PC*/
.pcs {
	width: 180px;
	height: 111px;
	float: left;
}


.mp {
	text-decoration: none;
}

.mp:hover {
	color: #FFFFFF;

}

/*左中右布局*/
.left-box {
	float: left;
	width: 15%;
	height: 600px
}

.main-box {
	width: 70%;
}

.right-box {
	float: left;
	width: 15%;
	height: 600px;
}

/*介绍页相关css*/
.intro-main {
	position: absolute;
	top: 10%;
	left: 10%;
}

.intro-list {
	font-family: 'ubt';
	font-size: 18px;
	color: #797979;
	line-height: 36px;
}

/*Footer*/
.footer-all {
	width: 100%;
	height: 48px;
	background-color: #282828;
	color: #fff;
	text-align: center;
	line-height: 48px;
	clear: both;
}