/* 自己写的都在这*/

* {
	margin: 0px;
	padding: 0px;
	font-family: -apple-system,
		BlinkMacSystemFont,
		Helvetica Neue,
		Helvetica,
		MiSans,
		HarmonySans,
		NotoSans,
		Arial,
		PingFang SC,
		Hiragino Sans GB,
		Microsoft YaHei,
		sans-serif;
}



body {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	flex-direction: column;
	flex-wrap: wrap;
}

h1 {
	margin-top: 30px;
	font-size: 2rem;
}

h2 {
	margin-top: 20px;
	font-size: 1.5rem;
}

h3 {
	margin-top: 10px;
	font-size: 1.25rem;
}

p {
	margin-top: 10px;
	font-size: 1rem;
	text-indent: 2rem;
}

li {
	font-size: 1rem;
}

.navbar {
	height: 50px;
	line-height: 50px;
	width: 100%;
	color: #fff;
	background-color: #000;
	border-bottom: #333 1px solid;
	padding: 0px 2px;
}

.navtext {
	color: #fff;
	margin: 0px 5px;
	text-decoration: none;
}

/*logo*/
.title-logo {
	color: #00aaff;
	font-size: 18px;
	margin-left: 2rem;
	text-decoration: none;
	font-family: "ubt";
	font-weight: bold;
	transition-duration: 0.5s;
}

.title-logo:hover {
	text-decoration: none;
	color: #0aaaa0;
	font-size: 20px;
}


/*Header下划线*/
.head-frame {
	border-bottom: 1px solid #c1c1c1;
}


/* 首页与其他页面右上角的按钮样式 */
.headmenu-btn {

	background: linear-gradient(45deg, #1E88E5, #8965d6, #d36264, #76c55d, #1E88E5);
	background-size: 400%;
	color: #fff;
	padding: 0.5rem 2rem 0.5rem 2rem;
	text-align: center;
	font-size: 14px;
	border: 0;
	border-radius: 26px;
	transition-duration: 0.4s;
	z-index: 1;
	text-decoration: none;

}



.headmenu-btn:hover,
.headmenu-btn:focus {
	animation: sun 8s infinite;
	outline: 0;
	background: linear-gradient(45deg, #1E88E5, #8965d6, #d36264, #76c55d, #1E88E5);
	background-size: 400%;
	color: #fff;
	box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.24);
	text-decoration: none;
}

@keyframes sun {
	100% {

		background-position: -400% 0;

	}
}



/*清除ul前黑点*/
ul {
	list-style: none;
}

li {
	list-style: none;
}

/*卡片式链接*/
.href-card {
	background: linear-gradient(90deg, #1E88E5, #8965d6, #d3835b, #e36897, #1E88E5);
	background-size: 400%;
	padding: 5px 10px 5px 10px;
	margin: 10px;
	border-radius: 15px;
	border: 1px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	word-wrap: break-word;
	transition-duration: 0.3s;
	text-decoration: none;
	color: #e8e8e8;

}

.href-card:hover {
	animation: sun 8s infinite;
	background: linear-gradient(90deg, #1E88E5, #8965d6, #d3835b, #e36897, #1E88E5);
	background-size: 400%;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.7);

}

.text-card {
	background: #eee;
	background-size: 400%;
	padding: 5px 10px 5px 10px;
	margin: 3%;
	max-width: 640px;
	border-radius: 15px;
	border: 1px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	transition-duration: 0.3s;
	text-decoration: none;
	font-size: 0.8rem;
	color: #222;

}



/*兼容PC*/
.pcs {
	width: 180px;
	height: 111px;
	float: left;
}


.mp {
	text-decoration: none;
}

.mp:hover {
	color: #FFFFFF;

}

/*左中右布局*/
.left-box {
	float: left;
	width: 15%;
	height: 600px
}

.main-box {
	width: 70%;
}

.right-box {
	float: left;
	width: 15%;
	height: 600px;
}

/*介绍页相关css*/
.intro-main {
	position: absolute;
	top: 10%;
	left: 10%;
}

.intro-list {
	font-family: 'ubt';
	font-size: 18px;
	color: #797979;
	line-height: 36px;
}

/*Footer*/
.footer-all {
	width: 100%;
	height: 48px;
	background-color: #282828;
	color: #fff;
	text-align: center;
	line-height: 48px;
	clear: both;
}