*{
	padding: 0;
	margin: 0;
}
#container{
	width: 800px;
	margin: auto;
}


#header {
	background-image: url(../images/tou.jpg);
	height: 200px;
}

#nav {
	background-color: #D6D287;
	text-align: center;
	height: 33px;	
}
#nav ul {
	text-align: center;
	list-style-type: none;
}
#nav ul li{
	font-family: "黑体";
	font-size: 25px;
	line-height: 33px;
	font-weight: bold;
	display: inline;
	padding: 0px 25px 0px 10px;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	
}
#nav ul li a:link,a:visited {
	color: #000000;
	text-decoration: none;
}
#nav ul li a:hover {
	color: #006600;
	background-color: #FFFF00;
}
#content {
	background-image: url(../images/center.jpg);
	height: 800px;
	
}


#left {
	width: 120px;
	height: 800px;
	float: left;
	
}
#left ul {
	list-style-type: none;
	padding-inline-start: 0px;
}
#left ul li {
	font-size: 18px;
	margin-top: 30px;
}


#middle {
	width: 560px;
	float: left;
}
.mid-text {

	line-height: 1.5em;
	position: relative;
	top: 20px;
	left: 80px;
}

#right {
	width: 120px;
	height: 800px;
	float: left;
}
#right ul {
	margin-top: 450px;
	list-style-type: none;
	padding-inline-start: 0px;
}
#right ul li {
	font-size: 18px;
	margin-top: 50px;
}

/*我是分割线 我是分割线*/
#container1 {
	width:900px;
	margin: auto;
	
}
#header1 {
	background-image: url(..//images/hhzl/tou.jpg);
	height: 150px;
	width: 900px;
}
#content1 {
	width: 900px;
	height: 800px;
}

.sec-title {
	font-family: "华文行楷";
	font-size: 48px;
	text-align: center;
	line-height: 150px;
}
.pic1 {
	float: left;
	border-right: 1px dotted #000000;
	border-bottom: 1px dotted #000000;
	padding-right: 10px;
	padding-bottom: 10px;
}
	
.title1 {
	font-size: 26px;
	color: #6666FF;
	line-height: 32px;
	border-bottom: 1px dotted #000000;
	
}
.p1 {
	font-size: 18px;
	text-indent: 2em;
	line-height: 1.5em;
	padding: 10px 0 0 10px;
}
	
.pic2 {
	float: right;
	border-left: 1px dotted #000000;
	border-bottom: 1px dotted #000000;
	padding-left: 10px;
	padding-bottom: 10px;
}


/*我是分割线*/
#container2 {
	width: 800px;
	margin: auto;
}


#header2 {
	background-image: url(../images/poem/tou1.jpg);
	height: 150px;
}
.hhgs-title {
	text-align: center;
	font-size:50px;
	line-height: 150px;
	font-weight: bold;
	font-family: "华文行楷";
}
#content2 {
	background-image: url(../images/poem/be1.jpg);
	height: 700px;	
	width: 800px;
}

.left2 {
	width: 120px;
	float: left;
	height: 600px
}
.mid2 {
	float: left;
	height: 600px;
	width: 560px
}
.hhgs-p {
	font-family: "楷体";
	text-align: center;
	font-size: 24px;
	height: 198px;
	border-bottom: 2px solid #000000;
}
.right2 {
	width: 120px;
	float: left;
	height: 600px
}
.writer-hhgs {
	font-size: 17px;
	text-align: center;
	font-family: "楷体";
	font-weight:bolder;
	height: 198px;
	
}
#footer2 {
	font-family: "华文行楷";
	font-size: 36px;
	text-align: center;
	line-height: 100px;
	
}
#footer2 a {
	color: black;
	text-decoration: none;
}
