.php-main {
	height: 300px;
	width: 500px;
    margin: 50px;
    background-color: #333;
    padding: 25px;
    border-radius: 15px;
}
.input-bar {
	height: 30px;
	width: 10rem;
	background-color: #444;
	color: #eee;
	border-radius: 1rem;
	box-shadow: 0px 1px 5px #000;
	border: 0px;
	transition: 0.5s;
	padding: 0 0 0 0.5rem;
}
.input-bar:hover {
	width: 11rem;
	background-color: #333;
	color: #000;
	border-radius: 0.5rem;
	padding-left: 0.5rem;
}
.button {
	height: 30px;
	width: 4rem;
	background-color: #d0d000;
	color: #222;
	border-radius: 1rem;
	box-shadow: 0px 1px 5px #000;
	border: 0px;
	transition:0.5s;
}
.button:hover {
	width: 5rem;
	background-color: #333;
	color: #d0d000;
	border-radius:0.5rem;
}
.print {
	margin: 10px 5px 10px 0px;
	padding: 15px;
	background: #444;
	border-radius: 1rem;
	height: 5rem;
	width: 15rem;
	color: #d0d000;
	transition:0.5s;
}
.print:hover {
	background-color: #444;
	border-radius: 0.5rem;
	height: 6rem;
}
