* {
	padding: 0;
	margin: 0;	
}
body{
	background-image: url(../images/bg.jpg);
}
a{
	text-decoration: none;
	color: #e95420;
}
::-webkit-scrollbar {
	/*隐藏滚轮*/
	display: none;
	}
#container {
	width: 800px;
	margin:auto;
}
#header { 
	background-image: url(../images/header-bg.png);
	width: 800px;
	height: 115px;
}
#nav{
    height: 50px;
	width: 800px;
	text-align: center;
	background-color: rgba(0,0,0,0.2);
	border: 1px rgba(0,0,0,0.2) solid;
	border-radius: 15px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.8);
}
#nav ul {
   
	height: 50px;
	line-height: 50px;
	text-align: center;
	
}
#nav ul li {
	display: inline-block;
	text-align: center;
    margin: 0px 10px 0px 30px;
	
}
#nav ul li a{
	text-decoration: none;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,0.2);
	box-shadow: 0 0px 4px rgba(0,0,0,0.2);
	color: #e95420;
	padding: 3px 15px 3px 15px;
	border-radius: 15px;

	transition: 0.4s;
}
#nav ul li a:hover{
	background-color: #e95420;
	color: #fff;
}



#footer {
	clear: both;
	text-align: center;
	background-color: #fff;
	color: #424242;
	height: 72px;
	line-height: 72px;
	border-radius: 15px;
	border: 1px rgba(0,0,0,0.6) solid;
	box-shadow: 0 4px 8px rgba(0,0,0,0.8);
	margin: 10px 0 50px 0;
}