* {
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

#body {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: #000;
    flex-direction: column;
    padding-top: 10%;
}

#text {
    color: #efefef;
    margin-top: 8rem;
    width: 800px;
    height: 200px;
    text-align: center;
    font-size: 160px;
    font-weight: 500;
    font-family: MiSans, HarmonyOS-Sans, Noto-Sans, Helvetica, PingFangSC-Regular, Microsoft Yahei, sans-serif;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.1);
}

.control-panel {
    margin-top: 100px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    align-content: center;
}

#full-screen-btn {
    text-align: center;
    height: 20px;
    line-height: 20px;
    margin: 2px;
    width: 100px;
    font-size: 14px;
    background-color: #000;
    color: #dedede;
    border-radius: 99px;
    border: solid 1px #ededed;
}

#full-screen-btn:hover {
    visibility: hidden;
}

#font-weight-minus,
#font-weight-plus,
#font-color-left,
#font-color-right {
    line-height: 20px;
    text-align: center;
    justify-content: center;
    height: 20px;
    margin: 2px;
    width: 46px;
    font-size: 14px;
    background-color: #000;
    color: #dedede;
    border-radius: 99px;
    border: solid 1px #ededed;
}

#font-color-switch {
    line-height: 20px;
    text-align: center;
    justify-content: center;
    height: 20px;
    margin: 2px;
    width: 100px;
    font-size: 14px;
    background-color: #fff;
    color: #808080;
    border-radius: 99px;
    border: solid 1px #ededed;
}

.body-bg1 {
    background-color: #eea2a4 !important;
}

.body-bg2 {
    background-color: #619ac3 !important;
}

.body-bg3 {
    background-color: #f8df72 !important;
}

.body-bg4 {
    background-color: #000000 !important;
}

.body-bg5 {
    background-color: #fffef9 !important;
}

.table {
    margin-top: 20px;
    width: 200px;
    height: 40px;
    text-align: center;
    margin-bottom: 10rem;
}

.round-button {
    height: 20px;
    width: 20px;
    border: #eee 1px solid;
    border-radius: 18px;
    box-shadow: 0px 1px 2px #000;
    margin: 8px;
}

.round-button:hover {
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0);
    border-radius: 5px;
}