* {
	margin: 0;
	padding: 0;
}
.top {
	height: 100px;
	width: 100%;
	border-bottom: 3px;
	border-color: #fff111;
	
}
.left {
	width:256px;
	height: 900px;
}
.header {
	color: #000;
	font-size: 48px;
	text-align: center;
	background-color: #e3e3e3;
	line-height: 100px;
}
